In [35]:
# country_box_score_data.to_csv("country_box_scores.csv")

import pandas as pd
import numpy as np
country_box_score_data = pd.read_csv('country_box_scores_with_results_PP.csv', header = 0, delimiter=',')

country_box_score_data.head()

,Unnamed: 0,Row_ID,Game_ID,Team,Player_ID,Number,Name,Min,FGM,FGA,...,ORebs,DRebs,Rebs,As,PF,To,Stl,Blks,Pts,y
0,0,13,01_04_01,ANGOLA,0,TOTALS,ANGOLA,200,26,63,...,4,17,21,12,37,11,5,3,73,0
1,1,26,01_04_01,LITHUANIA,0,TOTALS,LITHUANIA,200,20,50,...,18,29,47,12,20,16,5,3,78,1
2,2,39,01_04_02,ITALY,0,TOTALS,ITALY,200,25,64,...,6,25,31,14,24,10,5,0,71,1
3,3,52,01_04_02,NEW ZEALAND,0,TOTALS,NEW ZEALAND,200,23,63,...,7,32,39,15,21,14,2,2,69,0
4,4,65,01_04_03,CHINA,0,TOTALS,CHINA,200,20,62,...,13,23,36,5,23,16,3,0,58,0

In [36]:
# do one-hot encoding so that we have it

cat_vars=['Team']
for var in cat_vars:
    cat_list='var'+'_'+var
    cat_list = pd.get_dummies(country_box_score_data[var])
    data1=country_box_score_data.join(cat_list) # it can't join it right now, due to something. IT IS DUE TO ALL THE re-running!
    country_box_score_data=data1
    
cat_vars=['Team', 'Game_ID', 'Player_ID', 'Unnamed: 0', 'Name', 'Row_ID', 'Number', "Min"]
data_vars=country_box_score_data.columns.values.tolist()
to_keep=[i for i in data_vars if i not in cat_vars]
data_final=country_box_score_data[to_keep]
data_final.columns.values

array(['FGM', 'FGA', 'FG%', '2ptsM', '2ptsA', '2pts%', '3ptsM', '3ptsA',
       '3pts%', 'FTM', 'FTA', 'FT%', 'ORebs', 'DRebs', 'Rebs', 'As', 'PF',
       'To', 'Stl', 'Blks', 'Pts', 'y', 'ALBANIA', 'ALGERIA',
       'AMERICAN SAMOA', 'ANDORRA', 'ANGOLA', 'ANTIGUA', 'ARGENTINA',
       'ARMENIA', 'ARUBA', 'AUSTRALIA', 'AUSTRIA', 'AZERBAIJAN',
       'BAHAMAS', 'BAHRAIN', 'BANGLADESH', 'BARBADOS', 'BELARUS',
       'BELGIUM', 'BELIZE', 'BERMUDA', 'BOLIVIA',
       'BOSNIA AND HERZEGOVINA', 'BOTSWANA', 'BRAZIL',
       'BRITISH VIRGIN ISLANDS', 'BULGARIA', 'BURKINA FASO', 'BURUNDI',
       'CAF', 'CAMEROON', 'CANADA', 'CAPE VERDE', 'CAYMAN ISLANDS',
       'CENTRAL AFRICAN REPUBLIC', 'CHAD', 'CHILE', 'CHINA',
       'CHINESE TAIPEI', 'COLOMBIA', 'COSTA RICA', "COTE D'IVOIRE",
       'CROATIA', 'CUBA', 'CYPRUS', 'CZECH REPUBLIC', 'DEM.REP. OF CONGO',
       'DENMARK', 'DOMINICA', 'DOMINICAN REPUBLIC', 'ECUADOR', 'EGYPT',
       'EL SALVADOR', 'ENGLAND', 'ESTONIA', 'ETHIOPIA', 'FIJI', 'FINLAND',
       'FRANCE', 'GABON', 'GEORGIA', 'GERMANY', 'GIBRALTAR',
       'GREAT BRITAIN', 'GREECE', 'GUAM', 'GUATEMALA', 'GUINEA',
       'GUINEA-BISSAU', 'GUYANA', 'HONDURAS', 'HONG KONG', 'HUNGARY',
       'ICELAND', 'INDIA', 'INDONESIA', 'IRAN', 'IRAQ', 'IRELAND',
       'ISRAEL', 'ITALY', 'JAMAICA', 'JAPAN', 'JORDAN', 'KAZAKHSTAN',
       'KENYA', 'KINGDOM OF SAUDI ARABIA', 'KOREA', 'KOSOVO', 'KUWAIT',
       'LATVIA', 'LEBANON', 'LESOTHO', 'LIBERIA', 'LIBYA', 'LITHUANIA',
       'LUXEMBOURG', 'MACAU', 'MADAGASCAR', 'MALAWI', 'MALAYSIA', 'MALI',
       'MALTA', 'MARSHALL ISLANDS', 'MAURITANIA', 'MEXICO', 'MKD',
       'MOLDOVA', 'MONTENEGRO', 'MOROCCO', 'MOZAMBIQUE', 'MYANMAR',
       'NETHERLANDS', 'NEW CALEDONIA', 'NEW ZEALAND', 'NICARAGUA',
       'NIGERIA', 'NORWAY', 'PALAU', 'PALESTINE', 'PANAMA',
       'PAPUA NEW GUINEA', 'PARAGUAY', 'PERU', 'PHILIPPINES', 'POLAND',
       'PORTUGAL', 'PRINCIPALITY OF MONACO', 'PUERTO RICO', 'QATAR',
       'REPUBLIC OF BENIN', 'REPUBLIC OF CONGO', 'ROMANIA', 'RUSSIA',
       'RWANDA', 'SAMOA', 'SAN MARINO', 'SCOTLAND', 'SENEGAL', 'SERBIA',
       'SERBIA & MONTENEGRO', 'SINGAPORE', 'SLOVAK REPUBLIC', 'SLOVENIA',
       'SOLOMON ISLANDS', 'SOMALIA', 'SOUTH AFRICA', 'SOUTH SUDAN',
       'SPAIN', 'SRI LANKA', 'ST. KITTS', 'ST.VINCENT AND THE GRENADINES',
       'SUDAN', 'SURINAM', 'SWEDEN', 'SWITZERLAND', 'SYRIA', 'TAHITI',
       'THAILAND', 'TOGO', 'TRINIDAD AND TOBAGO', 'TUNISIA', 'TURKEY',
       'UGANDA', 'UKRAINE', 'UNITED ARAB EMIRATES', 'URUGUAY', 'USA',
       'UZBEKISTAN', 'VENEZUELA', 'VIETNAM', 'VIRGIN ISLANDS', 'WALES',
       'ZAMBIA', 'ZIMBABWE'], dtype=object)

In [47]:
data_final_vars=data_final.columns.values.tolist()
y=['y']
X=[i for i in data_final_vars if i not in y]

print (y)
print(X)

['y']
['FGM', 'FGA', 'FG%', '2ptsM', '2ptsA', '2pts%', '3ptsM', '3ptsA', '3pts%', 'FTM', 'FTA', 'FT%', 'ORebs', 'DRebs', 'Rebs', 'As', 'PF', 'To', 'Stl', 'Blks', 'Pts', 'ALBANIA', 'ALGERIA', 'AMERICAN SAMOA', 'ANDORRA', 'ANGOLA', 'ANTIGUA', 'ARGENTINA', 'ARMENIA', 'ARUBA', 'AUSTRALIA', 'AUSTRIA', 'AZERBAIJAN', 'BAHAMAS', 'BAHRAIN', 'BANGLADESH', 'BARBADOS', 'BELARUS', 'BELGIUM', 'BELIZE', 'BERMUDA', 'BOLIVIA', 'BOSNIA AND HERZEGOVINA', 'BOTSWANA', 'BRAZIL', 'BRITISH VIRGIN ISLANDS', 'BULGARIA', 'BURKINA FASO', 'BURUNDI', 'CAF', 'CAMEROON', 'CANADA', 'CAPE VERDE', 'CAYMAN ISLANDS', 'CENTRAL AFRICAN REPUBLIC', 'CHAD', 'CHILE', 'CHINA', 'CHINESE TAIPEI', 'COLOMBIA', 'COSTA RICA', "COTE D'IVOIRE", 'CROATIA', 'CUBA', 'CYPRUS', 'CZECH REPUBLIC', 'DEM.REP. OF CONGO', 'DENMARK', 'DOMINICA', 'DOMINICAN REPUBLIC', 'ECUADOR', 'EGYPT', 'EL SALVADOR', 'ENGLAND', 'ESTONIA', 'ETHIOPIA', 'FIJI', 'FINLAND', 'FRANCE', 'GABON', 'GEORGIA', 'GERMANY', 'GIBRALTAR', 'GREAT BRITAIN', 'GREECE', 'GUAM', 'GUATEMALA', 'GUINEA', 'GUINEA-BISSAU', 'GUYANA', 'HONDURAS', 'HONG KONG', 'HUNGARY', 'ICELAND', 'INDIA', 'INDONESIA', 'IRAN', 'IRAQ', 'IRELAND', 'ISRAEL', 'ITALY', 'JAMAICA', 'JAPAN', 'JORDAN', 'KAZAKHSTAN', 'KENYA', 'KINGDOM OF SAUDI ARABIA', 'KOREA', 'KOSOVO', 'KUWAIT', 'LATVIA', 'LEBANON', 'LESOTHO', 'LIBERIA', 'LIBYA', 'LITHUANIA', 'LUXEMBOURG', 'MACAU', 'MADAGASCAR', 'MALAWI', 'MALAYSIA', 'MALI', 'MALTA', 'MARSHALL ISLANDS', 'MAURITANIA', 'MEXICO', 'MKD', 'MOLDOVA', 'MONTENEGRO', 'MOROCCO', 'MOZAMBIQUE', 'MYANMAR', 'NETHERLANDS', 'NEW CALEDONIA', 'NEW ZEALAND', 'NICARAGUA', 'NIGERIA', 'NORWAY', 'PALAU', 'PALESTINE', 'PANAMA', 'PAPUA NEW GUINEA', 'PARAGUAY', 'PERU', 'PHILIPPINES', 'POLAND', 'PORTUGAL', 'PRINCIPALITY OF MONACO', 'PUERTO RICO', 'QATAR', 'REPUBLIC OF BENIN', 'REPUBLIC OF CONGO', 'ROMANIA', 'RUSSIA', 'RWANDA', 'SAMOA', 'SAN MARINO', 'SCOTLAND', 'SENEGAL', 'SERBIA', 'SERBIA & MONTENEGRO', 'SINGAPORE', 'SLOVAK REPUBLIC', 'SLOVENIA', 'SOLOMON ISLANDS', 'SOMALIA', 'SOUTH AFRICA', 'SOUTH SUDAN', 'SPAIN', 'SRI LANKA', 'ST. KITTS', 'ST.VINCENT AND THE GRENADINES', 'SUDAN', 'SURINAM', 'SWEDEN', 'SWITZERLAND', 'SYRIA', 'TAHITI', 'THAILAND', 'TOGO', 'TRINIDAD AND TOBAGO', 'TUNISIA', 'TURKEY', 'UGANDA', 'UKRAINE', 'UNITED ARAB EMIRATES', 'URUGUAY', 'USA', 'UZBEKISTAN', 'VENEZUELA', 'VIETNAM', 'VIRGIN ISLANDS', 'WALES', 'ZAMBIA', 'ZIMBABWE']

In [48]:
print(data_final[X].head)

<bound method NDFrame.head of        FGM  FGA   FG%  2ptsM  2ptsA  2pts%  3ptsM  3ptsA  3pts%  FTM  \
0       26   63  41.3     11     34   32.4     15     29   51.7    6
1       20   50  40.0     14     30   46.7      6     20   30.0   32
2       25   64  39.1     15     33   45.5     10     31   32.3   11
3       23   63  36.5     14     34   41.2      9     29   31.0   14
4       20   62  32.3     11     36   30.6      9     26   34.6    9
5       31   66  47.0     26     41   63.4      5     25   20.0   16
6       30   54  55.6     22     37   59.5      8     17   47.1   15
7       28   51  54.9     20     33   60.6      8     18   44.4   18
8       31   55  56.4     23     39   59.0      8     16   50.0   22
9       26   76  34.2     23     52   44.2      3     24   12.5   18
10      28   54  51.9     24     40   60.0      4     14   28.6   16
11      18   47  38.3     14     34   41.2      4     13   30.8   14
12      23   66  34.8     13     29   44.8     10     37   27.0    6
13      25   60  41.7     24     49   49.0      1     11    9.1   18
14      29   59  49.2     22     41   53.7      7     18   38.9   18
15      19   71  26.8     10     41   24.4      9     30   30.0   12
16      30   56  53.6     14     26   53.8     16     30   53.3   22
17      25   64  39.1     13     38   34.2     12     26   46.2   28
18      25   53  47.2     15     34   44.1     10     19   52.6   14
19      28   59  47.5     20     41   48.8      8     18   44.4    8
20      26   50  52.0     19     35   54.3      7     15   46.7   28
21      30   70  42.9     26     50   52.0      4     20   20.0   12
22      27   67  40.3     23     46   50.0      4     21   19.0   19
23      27   61  44.3     19     42   45.2      8     19   42.1    9
24      32   58  55.2     24     35   68.6      8     23   34.8   15
25      33   62  53.2     22     38   57.9     11     24   45.8   13
26      24   68  35.3     12     33   36.4     12     35   34.3    3
27      23   51  45.1     21     40   52.5      2     11   18.2   23
28      39   68  57.4     36     51   70.6      3     17   17.6    8
29      30   60  50.0     18     34   52.9     12     26   46.2    7
...    ...  ...   ...    ...    ...    ...    ...    ...    ...  ...
23946   15   56  26.8     13     38   34.2      2     18   11.1    2
23947   63  109  57.8     58     94   61.7      5     15   33.3   20
23948   39   87  44.8     34     61   55.7      5     26   19.2   14
23949   13   67  19.4      9     36   25.0      4     31   12.9    6
23950   30   84  35.7     25     64   39.1      5     20   25.0   17
23951   24   76  31.6     20     56   35.7      4     20   20.0   12
23952   29   72  40.3     18     49   36.7     11     23   47.8    9
23953   31   59  52.5     27     46   58.7      4     13   30.8   24
23954   11   44  25.0     11     39   28.2      0      5    0.0   10
23955   66   99  66.7     53     67   79.1     13     32   40.6   23
23956   26   96  27.1     21     78   26.9      5     18   27.8    8
23957   17   67  25.4     15     56   26.8      2     11   18.2    5
23958   58  113  51.3     45     78   57.7     13     35   37.1   13
23959   13   46  28.3     11     40   27.5      2      6   33.3    6
23960   43  100  43.0     35     71   49.3      8     29   27.6   24
23961   28   60  46.7     27     55   49.1      1      5   20.0   17
23962   52   76  68.4     41     54   75.9     11     22   50.0   10
23963   13   59  22.0      8     27   29.6      5     32   15.6    2
23964   19   79  24.1     17     64   26.6      2     15   13.3   22
23965   18   72  25.0     10     35   28.6      8     37   21.6    6
23966   29   84  34.5     25     62   40.3      4     22   18.2   15
23967   26   72  36.1     23     55   41.8      3     17   17.6   15
23968   38   79  48.1     23     43   53.5     15     36   41.7    5
23969   25   71  35.2     22     57   38.6      3     14   21.4    5
23970   68   95  71.6     65     84   77.4      3     11   27.3   16
23971   12   65  18.5      8     46   17.4      4     19   21.1   11
23972   28   58  48.3     23     44   52.3      5     14   35.7    9
23973   46   85  54.1     39     62   62.9      7     23   30.4    6
23974   21   56  37.5     19     40   47.5      2     16   12.5   11
23975   39   86  45.3     33     68   48.5      6     18   33.3    9

         ...     UNITED ARAB EMIRATES  URUGUAY  USA  UZBEKISTAN  VENEZUELA  \
0        ...                        0        0    0           0          0
1        ...                        0        0    0           0          0
2        ...                        0        0    0           0          0
3        ...                        0        0    0           0          0
4        ...                        0        0    0           0          0
5        ...                        0        0    0           0          0
6        ...                        0        0    0           0          0
7        ...                        0        0    0           0          0
8        ...                        0        0    0           0          0
9        ...                        0        0    1           0          0
10       ...                        0        0    0           0          0
11       ...                        0        0    0           0          0
12       ...                        0        0    0           0          0
13       ...                        0        0    0           0          0
14       ...                        0        0    0           0          0
15       ...                        0        0    0           0          0
16       ...                        0        0    0           0          0
17       ...                        0        0    0           0          0
18       ...                        0        0    0           0          0
19       ...                        0        0    0           0          0
20       ...                        0        0    0           0          0
21       ...                        0        0    0           0          0
22       ...                        0        0    1           0          0
23       ...                        0        0    0           0          0
24       ...                        0        0    0           0          0
25       ...                        0        0    0           0          0
26       ...                        0        0    0           0          0
27       ...                        0        0    0           0          0
28       ...                        0        0    1           0          0
29       ...                        0        0    0           0          0
...      ...                      ...      ...  ...         ...        ...
23946    ...                        0        0    0           0          0
23947    ...                        0        0    0           0          0
23948    ...                        0        0    0           0          0
23949    ...                        0        0    0           0          0
23950    ...                        0        0    0           0          0
23951    ...                        0        0    0           0          0
23952    ...                        0        0    0           0          0
23953    ...                        0        0    0           0          0
23954    ...                        0        0    0           0          0
23955    ...                        0        0    0           0          0
23956    ...                        0        0    0           0          0
23957    ...                        0        0    0           0          0
23958    ...                        0        0    0           0          0
23959    ...                        0        0    0           0          0
23960    ...                        0        0    0           0          0
23961    ...                        0        0    0           0          0
23962    ...                        0        0    0           0          0
23963    ...                        0        0    0           0          0
23964    ...                        0        0    0           0          0
23965    ...                        0        0    0           0          0
23966    ...                        0        0    0           0          0
23967    ...                        0        0    0           0          0
23968    ...                        0        0    0           0          0
23969    ...                        0        0    0           0          0
23970    ...                        0        0    0           0          0
23971    ...                        0        0    0           0          0
23972    ...                        0        0    0           0          0
23973    ...                        0        0    0           0          0
23974    ...                        0        0    0           0          0
23975    ...                        0        0    0           0          0

       VIETNAM  VIRGIN ISLANDS  WALES  ZAMBIA  ZIMBABWE
0            0               0      0       0         0
1            0               0      0       0         0
2            0               0      0       0         0
3            0               0      0       0         0
4            0               0      0       0         0
5            0               0      0       0         0
6            0               0      0       0         0
7            0               0      0       0         0
8            0               0      0       0         0
9            0               0      0       0         0
10           0               0      0       0         0
11           0               0      0       0         0
12           0               0      0       0         0
13           0               0      0       0         0
14           0               0      0       0         0
15           0               0      0       0         0
16           0               0      0       0         0
17           0               0      0       0         0
18           0               0      0       0         0
19           0               0      0       0         0
20           0               0      0       0         0
21           0               0      0       0         0
22           0               0      0       0         0
23           0               0      0       0         0
24           0               0      0       0         0
25           0               0      0       0         0
26           0               0      0       0         0
27           0               0      0       0         0
28           0               0      0       0         0
29           0               0      0       0         0
...        ...             ...    ...     ...       ...
23946        0               0      0       0         0
23947        0               0      0       0         0
23948        0               0      0       0         0
23949        0               0      0       0         0
23950        0               0      0       0         0
23951        0               0      0       0         0
23952        0               0      0       0         0
23953        0               0      0       0         0
23954        0               0      0       0         0
23955        0               0      0       0         0
23956        0               0      0       0         0
23957        0               0      0       0         0
23958        0               0      0       0         0
23959        0               0      0       0         0
23960        0               0      0       0         0
23961        0               0      0       0         0
23962        0               0      0       0         0
23963        0               0      0       0         0
23964        0               0      0       0         0
23965        0               0      0       0         0
23966        0               0      0       0         0
23967        0               0      0       0         0
23968        0               0      0       0         0
23969        0               0      0       0         0
23970        0               0      0       0         0
23971        0               0      0       0         0
23972        0               0      0       0         0
23973        0               0      0       0         0
23974        0               0      0       0         0
23975        0               0      0       0         0

[23976 rows x 195 columns]>

In [100]:
from sklearn import datasets
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression

# X=data_final[sig_vars]
# y=data_final['y']

logreg = LogisticRegression()
rfe = RFE(logreg, 18)
rfe = rfe.fit(data_final[X],data_final[y])
print(rfe.support_)
print(rfe.ranking_)
count = 0
for boolean in rfe.support_:
    if boolean:
        count +=1
print("we select this many features " + str(count))

ValueError: Must pass DataFrame with boolean values only

In [61]:
# now get the features we want...
sig_vars = []
for support,vari in zip(rfe.support_, data_final[X]):
    
    if support:
        print(vari)
    sig_vars.append(vari)
    
sig_vars = data_final[data_final[X].columns[0:21]]
sig_vars = data_final[X]
sig_vars = sig_vars[0:21]


sig_vars = []
for index,vari in enumerate(data_final[X]):    
    if index < 21:
        sig_vars.append(vari)

sig_vars
# for support,vari in zip(rfe.support_, data_final[X]):
#     if support:
#         print(vari)
#     sig_vars.append(vari)

ARUBA
BAHRAIN
BOTSWANA
CYPRUS
GABON
GUINEA-BISSAU
HONDURAS
IRELAND
MALAWI
NEW ZEALAND
NORWAY
PERU
SINGAPORE
SOMALIA
SYRIA
TOGO
UGANDA
ZIMBABWE

['FGM',
 'FGA',
 'FG%',
 '2ptsM',
 '2ptsA',
 '2pts%',
 '3ptsM',
 '3ptsA',
 '3pts%',
 'FTM',
 'FTA',
 'FT%',
 'ORebs',
 'DRebs',
 'Rebs',
 'As',
 'PF',
 'To',
 'Stl',
 'Blks',
 'Pts']

In [104]:

# trying to do it on all variables, with strings causes TypeError: cannot perform reduce with flexible type
# y=data_final['y']
# X=[i for i in data_final if i not in y]

X=data_final[sig_vars]
y=data_final['y']


import statsmodels.api as sm
from scipy import stats
stats.chisqprob = lambda chisq, df: stats.chi2.sf(chisq, df)



# model = LogisticRegression(fit_intercept=False)
# mdl = model.fit(X, y)

# X = sm.add_constant(X)

logit_model=sm.Logit(y,X) #we do want to predict taht entire column of datas!
# logit_model.add_constant()
result=logit_model.fit_regularized()
# result=logit_model.fit()



print(result.summary())

Optimization terminated successfully.    (Exit mode 0)
            Current function value: 0.5804008758821679
            Iterations: 54
            Function evaluations: 71
            Gradient evaluations: 54
                           Logit Regression Results
==============================================================================
Dep. Variable:                      y   No. Observations:                23976
Model:                          Logit   Df Residuals:                    23955
Method:                           MLE   Df Model:                           20
Date:                Sun, 11 Mar 2018   Pseudo R-squ.:                  0.1627
Time:                        18:51:40   Log-Likelihood:                -13916.
converged:                       True   LL-Null:                       -16619.
                                        LLR p-value:                     0.000
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
FGM           -0.1648   1.44e+04  -1.14e-05      1.000   -2.83e+04    2.83e+04
FGA           -0.0652   7102.235  -9.19e-06      1.000   -1.39e+04    1.39e+04
FG%            0.0262      0.013      2.035      0.042       0.001       0.051
2ptsM         -0.1181   1.44e+04   -8.2e-06      1.000   -2.82e+04    2.82e+04
2ptsA          0.0049   7105.446   6.87e-07      1.000   -1.39e+04    1.39e+04
2pts%          0.0197      0.009      2.078      0.038       0.001       0.038
3ptsM         -0.1006   1.44e+04  -6.98e-06      1.000   -2.82e+04    2.82e+04
3ptsA         -0.0448   7101.851  -6.31e-06      1.000   -1.39e+04    1.39e+04
3pts%         -0.0070      0.004     -1.666      0.096      -0.015       0.001
FTM           -0.0244      0.206     -0.118      0.906      -0.428       0.379
FTA           -0.0680      0.008     -8.579      0.000      -0.084      -0.052
FT%           -0.0175      0.002     -7.508      0.000      -0.022      -0.013
ORebs          0.0222    604.445   3.67e-05      1.000   -1184.668    1184.713
DRebs          0.0260    604.445   4.31e-05      1.000   -1184.664    1184.716
Rebs           0.0620    604.445      0.000      1.000   -1184.628    1184.752
As             0.0040      0.004      1.081      0.280      -0.003       0.011
PF            -0.0414      0.003    -12.907      0.000      -0.048      -0.035
To            -0.0546      0.003    -17.735      0.000      -0.061      -0.049
Stl            0.0843      0.004     21.090      0.000       0.076       0.092
Blks           0.0197      0.007      2.823      0.005       0.006       0.033
Pts            0.1505      0.205      0.733      0.464      -0.252       0.553
==============================================================================

In [105]:

from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

logreg = LogisticRegression()
logreg.fit(X_train, y_train)

y_pred = logreg.predict(X_test)
print('Accuracy of logistic regression classifier on test set: {:.2f}'.format(logreg.score(X_test, y_test)))

Accuracy of logistic regression classifier on test set: 0.77

In [107]:
from sklearn import model_selection
from sklearn.model_selection import cross_val_score
kfold = model_selection.KFold(n_splits=10, random_state=0)
modelCV = LogisticRegression()
scoring = 'accuracy'
results = model_selection.cross_val_score(modelCV, X_train, y_train, cv=kfold, scoring=scoring)
print("10-fold cross validation average accuracy: %.3f" % (results.mean()))

10-fold cross validation average accuracy: 0.773

In [74]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

             precision    recall  f1-score   support

          0       0.77      0.77      0.77      3545
          1       0.78      0.77      0.77      3648

avg / total       0.77      0.77      0.77      7193

In [96]:
country_box_score_data = pd.read_csv('country_box_scores_with_results_PP.csv', header = 0, delimiter=',')

country_box_score_data.head()

country_box_score_data.loc[(country_box_score_data['Team'] == "CYPRUS")  & (country_box_score_data['y'] == 1) ]
# i want to find who won the most games, then the next most and so forth
country_box_score_data.loc[(country_box_score_data['Team'] == "ARGENTINA")  & (country_box_score_data['y'] == 0)]

# just do a group by for the python dictionary
# NO NEED to do this in pandas..
# group by, but do the avg?

winning_countries = country_box_score_data.groupby("Team").mean()
winning_countries.sort_values('y')
winning_countries
winning_countries[["y"]].sort_values('y')
# winning_countries.columns
# type(winning_countries)
# sort

                                y
Team
BOTSWANA                 0.000000
MAURITANIA               0.000000
SOMALIA                  0.000000
ZIMBABWE                 0.142857
ARUBA                    0.166667
TOGO                     0.181818
PERU                     0.203125
HONDURAS                 0.233333
PAPUA NEW GUINEA         0.250000
KINGDOM OF SAUDI ARABIA  0.250000
GABON                    0.250000
ZAMBIA                   0.272727
GUATEMALA                0.274194
ECUADOR                  0.282051
BAHRAIN                  0.285714
CAYMAN ISLANDS           0.285714
SINGAPORE                0.285714
NEW ZEALAND              0.291667
IRELAND                  0.294606
TRINIDAD AND TOBAGO      0.307692
UGANDA                   0.307692
SYRIA                    0.317073
CYPRUS                   0.321168
KENYA                    0.321429
NORWAY                   0.323171
IRAQ                     0.323529
ETHIOPIA                 0.333333
LIBYA                    0.333333
LESOTHO                  0.333333
LIBERIA                  0.333333
...                           ...
ANGOLA                   0.569343
GREECE                   0.570842
SENEGAL                  0.577778
RUSSIA                   0.579399
PUERTO RICO              0.579618
ARMENIA                  0.579710
MALAYSIA                 0.581395
AUSTRALIA                0.586735
MONTENEGRO               0.590909
AZERBAIJAN               0.600000
SRI LANKA                0.600000
TURKEY                   0.604255
BRAZIL                   0.608541
SERBIA & MONTENEGRO      0.609524
FRANCE                   0.622642
GUAM                     0.625000
NIGERIA                  0.625000
LITHUANIA                0.627907
SERBIA                   0.648276
ARGENTINA                0.653012
CAMEROON                 0.653061
SURINAM                  0.666667
MACAU                    0.666667
TAHITI                   0.666667
SAMOA                    0.666667
SPAIN                    0.674033
NEW CALEDONIA            0.722222
PALAU                    0.750000
MALAWI                   1.000000
GUINEA-BISSAU            1.000000

[174 rows x 1 columns]

Next steps: try running Recursive Feature Elimination on ONLY the non-country features (FGM, FGA and so forth...)